.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  inline-size: 601px;
  margin: 0;
  overflow: hidden;

  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.input {
  inline-size: 111px;
  block-size: 57px;
  padding: 0 20px;

  border: none;
  outline: none;

  font-size: 22px;
}

.select {
  inline-size: 490px;
  min-inline-size: 0;
  block-size: 57px;
  margin: 0 14px 0 0;
  padding: 0 0 0 30px;

  border: none;

  font-size: 22px;

  border-inline-start: 1px solid #d9d9d9;
}