.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  min-block-size: 100vh;

  background-color: #ebf4fb;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  inline-size: 100%;
  max-inline-size: 1257px;
  margin: 0 auto;
  padding: 40px 20px;

  background-color: #fff;
  border-radius: 30px;
}
