@import 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap';

.wrapper {
  display: flex;
  justify-content: center;

  min-block-size: 100vh;

  background-color: #ebf4fb;

  font-family: Inter, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  inline-size: 100%;
  max-inline-size: 1257px;
  margin: 0 auto;
  padding: 29px 20px;

  background-color: #fff;
  border-radius: 30px;
}

.selects {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  margin-block-start: 27px;
}

.swap {
  inline-size: 60px;
  block-size: 30px;
  font-size: 16px; 
  cursor: pointer;
}